.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fdf7f1;
  color: #b6654f;
  text-align: center;
  padding: 2rem 1rem;
  gap: 1rem;
}

.footer-logo-container {
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.footer-logo-container img {
  max-height: 100%;
  width: auto;
}
@media (max-width: 640px) {
  .footer-logo-container {
    height: 30px;
  }
  .footer {
    flex-direction: column;
  }
}

.footer-text {
  font-size: 0.9rem;
  font-weight: 500;
}
